.category-container {
  margin-top: 35px;
}

.category-col {
  cursor: pointer;
}

.category-item {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.category-item img {
  width: 72%;
  object-fit: contain;
  border: 1px solid lightgray;
  border-radius: 16px;
  padding: 2px;
  overflow: hidden;
  transition-duration: 0.3s;
}

.category-item:hover .category-img {
  transform: scale(1.1);
  transition-duration: 0.3s;
}

.category-text {
  font-family: Montserrat;
  font-weight: 400;
}
