* {
  box-sizing: border-box;
}

.review-container {
  padding-left: 45px;
  font-family: Montserrat;
}

.review-main-title {
  font-weight: bold;
  padding-bottom: 30px;
  padding-top: 45px;
}
.star-rating-name {
  display: flex;
  justify-content: space-between;
  margin-left: 10px;
}

.reivew-name {
  font-family: Montserrat;
  margin-left: 15px;
  font-size: larger;
  font-weight: 600;
}

.reivew-star {
  font-size: 8px;
}

.review-content {
  font-family: Montserrat;
  margin-left: 10px;
}

.review-card {
  display: flex;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

.review-img-box {
  padding-right: 5px;
  width: 12%;
  padding-top: 5px;
}

.review-image {
  border-radius: 10%;
}

.review-content-box {
  width: 88%;
}
.reivew-createdAt {
  font-family: Montserrat;
  margin-left: 10px;
  font-style: italic;
}
