* {
  box-sizing: border-box;
}
.cart-page {
  /* border: 5px solid green; */
  margin-top: 79px;
  margin-bottom: 100px;
}

.cartPage-container {
  font-family: Montserrat;
  padding-left: 45px;
}

.cartPage-title {
  font-weight: bold;
}

.cart-block {
  display: flex;
  justify-content: flex-start;
}

.cart-item {
  padding: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.cart-ticksign {
  /* border: 2px solid black; */
  align-self: center;
}

.cart-productInfo {
  /* border: 2px solid black; */
  display: flex;
}

.cart-productDemension {
  /* border: 2px solid black; */
  color: chocolate;
}
.cart-quantity {
  /* border: 2px solid black; */
  color: chocolate;
}
.cart-priceUnit {
  /* border: 2px solid black; */
  color: chocolate;
}
.cart-totalMoney {
  /* border: 2px solid black; */
  color: chocolate;
}
.cart-delete {
  /* border: 2px solid black; */
  color: chocolate;
}

.cart-Image {
  /* border: 2px solid red; */
  width: 100%;
  border-radius: 10px;
}
.cart-productName {
  /* border: 2px solid red; */
  color: chocolate;
  margin-left: 10px;
  align-self: center;
}

.check-box {
  width: 19px;
  height: 19px;
  margin: revert;
}
