.list-users-container {
  font-family: Montserrat;
  padding-left: 10px;
  padding-top: 10px;
}

.list-user-content {
  padding-left: 15px;
  padding-top: 20px;
}

.dash-box {
  word-wrap: break-word;
}

.image-dashboard {
  width: 100%;
  padding: 10px;
}

.dash-row {
  background-color: rgb(245, 245, 245);
}
