.comment-container {
  font-family: Montserrat;
  padding-left: 45px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.comment-title {
  font-weight: 800;
}

.comment-bnt {
}

.comment-bnt-container {
}
