.footer-container {
  background-color: rgb(33, 37, 41);
  color: white;
  padding: 2rem 0;
}

a:hover {
  color: rgb(238, 77, 45);
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

.footer-title {
  font-size: 20px;
  font-weight: 900;
  font-family: Montserrat;
  margin-bottom: 16px;
}

.footer-sub-content {
  display: flex;
}

.footer-sub-icon {
  margin-right: 16px;
  font-size: 20px;
  margin-bottom: 10px;
}

.footer-text {
  font-size: 16px;
  margin-bottom: 10px;
  font-family: Montserrat;
}

.footer-main-icon {
  justify-content: center;
}
.link-class {
  display: flex;
}
.icon-title {
  margin-left: 5px;
}
