.home-card {
  margin-bottom: 6px;
}
.home-card:hover {
  transform: scale(1.01);
  transition: 0.25s;
}

.sidebar-column {
  padding-right: 0px;
}

.single-btn {
  margin-top: 3px;
  background-color: #ee4d2d;
  border: unset;
  color: white;
}
