.testimonial {
  background-size: 100%;
  background-attachment: scroll;
  background-origin: content-box;
  background-image: url(https://w.ladicdn.com/s1440x652/5ec3b5d…/ee27-3-20210619162248.png);
  background-position: center top;
  background-repeat: no-repeat;
  margin-bottom: 60px;
}

.testimonial .slick-arrow.slick-prev,
.testimonial .slick-arrow.slick-next {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  border-radius: 5px;
}
.testimonial .slick-prev::before,
.testimonial .slick-next::before {
  display: none;
}
.testimonial .slick-arrow.slick-next {
  right: -70px;
}
.testimonial .slick-arrow.slick-prev {
  left: -70px;
}
.testimonial .slick-dots li button:before {
  font-size: 15px;
}
.testimonial .slick-dots li {
  top: 15px;
}
