.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  color: rgb(238, 77, 45);
}
.sidebar-icon {
  align-self: center;
  background-color: rgb(33, 37, 41);
}

.dash-board-header {
  color: white;
}
